/* navigation */
.background {
    background-image: url(../images/header-image.jpg);
    height: 300px;
    position: relative;
 
   
}
.nav {
    max-width: 1200;
    width: 100%;
    display: flex;
}
.hotel {
    color: #fff;
    max-width: 100px;
    width: 100%;
    margin-top: 40px;
    margin-left: 50px;
}
.nav-li {
    display: flex;
    justify-content: space-between;  
    width: 100%;
    margin-left: 500px;
    margin-right: 100px; 
    color: #fff; 
    margin-top: 40px;
}
.list {
    color: #fff;
}
.list:hover {
    color: blue;
}
.burger-bar {
    display: none;
    font-size: 40px;
    color: #fff;
    margin: 0 auto;

}

.about {
    margin-top: 100px;
    margin-left: 50px;
    ;
}
.nav-head {
    display: flex;
    color: white;
    font-size: 50px;  
}
.list2 {
    color: #fff;
}
.nav-li2 {
    display: flex;
    margin-top: 20px;
}
.div-list {
    height: 20px;
    width: 2px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
   
}

/* body */
.section1 {
    display: flex;
    max-width: 1200;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
}
.left-div { 
    width: 460px;

}
.about2 {
    color: blue;
    font-style: bold;
}
.trust {
    font-size: 60px;
}
.paragraph {
    margin-top: 20px;
}

.readmore {
    height: 50px;
    width: 100px;   
    background-color: blue;
    color: #fff;
    font-size: 20px;
    align-items: center;
    justify-content: center;   
    margin-top: 20px;
   
}

.right-div {
   max-width: 536px;
   width: 100%;
  
}